/* Default (Light) Theme */
:root {
    --background-color: #f4f4f4; /* Light background */
    --text-color: #333; /* Dark text */
    --button-background: #007BFF; /* Primary button color */
    --button-hover-background: #0056b3; /* Button hover color */
}

/* Dark Theme */
body.dark {
    --background-color: #333; /* Dark background */
    --text-color: #f4f4f4; /* Light text */
}

body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: var(--background-color);
    color: var(--text-color);
    width: 300px; /* Fixed width for the popup */
}

.theme-toggle-container {
    position: absolute; /* Position it at the top right corner */
    top: 10px;
    right: 10px;
}

#timer {
    font-size: 28px;
    font-weight: bold;
    margin-top: 40px; /* Adjust margin to avoid overlap with toggle switch */
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    background-color: var(--button-background);
    color: white;
}

button:hover {
    background-color: var(--button-hover-background);
}

h3 {
    margin-top: 20px;
}

#article-info {
    margin-bottom: 20px;
}

#pastRunsList {
    list-style-type: none; /* Remove bullet points from list */
}
